:root {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.App {
  width: 100%;
  transition: color 250ms ease-in, background-color 250ms ease-in;
  --bg-color: #fff;
  --font-color: #444;
  --sidebar-profile: #434343;
  --sidebar-options: #e8f5fe;
  --post--desc: rgb(64, 91, 95);
  background-color: var(--bg-color);
}

.App.App__dark {
  --font-color: #fff;
  --bg-color: rgb(21, 32, 43);
  --sidebar-profile: #fff;
  --sidebar-options: hsla(203, 89%, 64%, 30%);
  --post-desc: #fff;
}

.App__inner {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin: auto;
  padding: 0 10px;
  /* font-family: 'Acme', sans-serif !important; */
  transition: blur 200ms ease-in-out;
  justify-content: center;
  width: 90%;

}

h1,
h2,
h3,
h4 {
  font-weight: lighter;
}


@media(max-width: 500px) {
  .App {
    justify-content: center;
    padding: 0 20px;
    overflow-x: hidden;
  }
}