:root {
  --twitter-color: #50b7f5;
}

.App {
  height: 100%;
  box-sizing: border-box;
  transition: color 250ms ease-in, background-color 250ms ease-in;
  --bg-color: #fff;
  --font-color: #444;
  --sidebar-profile: #434343;
  --sidebar-options: #e8f5fe;
  --twitter-background: #e6ecf0;
  --post--desc: rgb(64, 91, 95);
  --menu-options: hsla(203, 89%, 64%, 30%);
  background-color: var(--bg-color);
}

.App.App__dark {
  --twitter-background: hsla(204, 25%, 92%, 20%);
  --font-color: #fff;
  --bg-color: rgb(21, 32, 43);
  --sidebar-profile: #fff;
  --sidebar-options: hsla(203, 89%, 64%, 30%);
  --menu-options: #e8f5fe;
  --post-desc: #fff;
}

@media(max-width: 1270px) {
  .md-none {
    display: none;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: lighter;
}

@media(max-width: 650px) {
  .App {
    overflow-x: hidden;
    /* padding: 0 30px; */
  }


}