.feed {
    height: 100vh;
    border-right: 1px solid var(--twitter-background);
    min-width: max-content;
    overflow-y: scroll;
    scroll-behavior: smooth !important;
    -ms-overflow-style: none;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

/* Hide scroolbar for chrome, safari and opera */
.feed::-webkit-scrollbar {
    display: none;
}

.feed__header {
    position: sticky;
    top: 0;
    transition: color 250ms ease-in, background-color 250ms ease-in;
    background-color: var(--bg-color);
    z-index: 500;
    color: var(--font-color);
    border-bottom: 1px solid var(--twitter-background);
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.feed__menu {
    height: 28px;
    z-index: 900;
    width: 34px;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: ;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    transition: background-color 250ms linear;
}

.feed__menu div {
    width: 100%;
    height: 2px;
    background-color: var(--font-color);
    border-radius: 2px;
    transition: background-color 250ms linear;
}

.feed__menu:hover {
    background-color: var(--sidebar-options);
}

.feed__menu:hover div {
    background-color: var(--twitter-color);
}

.feed__header h2 {
    font-size: 20px;
    font-weight: 200;
    font-family: 'Acme', sans-serif;
}

.feed__homeToggleBtn {
    border-radius: 40px !important;
    padding: 10px 0 !important;
}

.feed__homeToggleBtn .MuiSvgIcon-root {
    color: var(--font-color);
}

.feed__home {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.feed__home>.MuiSvgIcon-root {
    color: var(--twitter-color);
    cursor: pointer;
}

.feed__errorMessage {
    color: red;
    padding-top: 30px;
    text-align: center;
}


@media(max-width: 650px) {
    .feed {
        max-width: 500px !important;
        /* margin-left: -55px; */
        transform: translateX(-60px);
        border-left: 1px solid var(--twitter-background);
    }

    .feed__menu {
        display: flex;
    }

    .feed__header h2 {
        display: none;
    }
}

/* @media(max-width: 550px) {
    .feed {
        max-width: 400px !important;
        width: 400px;
    }
} */