.sidebar {
    padding: 0 25px 0 15px;
    border-right: 1px solid var(--twitter-background);
    min-width: 50px;
    padding-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
}

.sidebar__tweet {
    background-color: var(--twitter-color) !important;
    color: #fff !important;
    border: none !important;
    font-weight: 300 !important;
    text-transform: inherit !important;
    font-family: 'Acme', sans-serif !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
    font-size: 20px !important;
}

.sidebar__twitterIcon {
    color: var(--twitter-color);
    font-size: 30px !important;
    /* margin-left: 20px; */
    /* margin-bottom: 15px; */
    padding: 12px 20px;

}

.sidebar__profile {
    display: flex;
    position: relative;
    bottom: -30px;
    border-radius: 40px;
    align-items: center !important;
    text-align: center;
    justify-content: space-between;
    padding: 15px 20px;
    width: 80%;
    background-color: transparent;
    cursor: pointer;
    color: var(sidebar-profile);
}

.sidebar__profile:hover {
    background-color: var(--sidebar-options);
    transition: background-color 250ms linear;
}

.sidebar__profile>* {
    margin: 0px !important;
    padding: 0 !important;
}

.sidebar__profile p,
.sidebar__profile h4,
.sidebar__profile .MuiSvgIcon-root {
    color: var(--font-color);
    font-size: 14px;
}

.sidebar__profile .MuiSvgIcon-root {
    align-self: flex-start;
}



@media(max-width: 1280px) {
    .sidebar__profile {
        padding: 10px;
        width: fit-content;
        box-sizing: border-box;
    }

    .sidebar__profile .sidebar__profileInfo {
        display: none;
    }

    .sidebar__profile .MuiSvgIcon-root {
        display: none;
    }

    .sidebar__twitterIcon {
        padding: 12px;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 40px;
    }

    .sidebar__tweet {
        display: none !important;
    }

    .sidebar__profile>.MuiAvatar-root {
        width: 25px;
        height: 25px;
    }
}


@media(max-width: 650px) {
    .sidebar {
        position: absolute;
        background-color: var(--bg-color);
        height: 100vh;
        padding-left: 40px;
        z-index: 600 !important;
        transform: translateX(-700px);
        width: max-content;
        top: 0;
        left: -10px;
        align-items: flex-start;
        transition: transform 300ms ease-in;
    }

    .sidebar__profile {
        padding: 10px;
        width: max-content;
        box-sizing: border-box;
    }

    .sidebar__profile .sidebar__profileInfo {
        display: block;
    }

    .sidebar__tweet {
        display: block !important;
    }

    .sidebar.slideIn {
        transform: translateX(0);
    }
}